//Write your scss here and then compile it to "style.css"...

.caroussel-container {
  width: 500px;
  height: 500px;
  background-color: #000;
  margin: 30px auto;
}

.responsive {
  width: 500px;
  height: 500px;
  object-fit: cover;
}


