/*
  COLORS
 */

// Background colors //
$base-bg-color : rgba(255,255,255,.7);
$footer-bg-color: #fff;

// Text colors //
$base-text-color : #341026;
$heading-color : #ad096d;
$link-color: #565d16;
$link-hover-color:  #a883a2;
$link-visited-color: #d997d8;
$link-visited2-color: #ad096d;