/*
  COLORS
*/

$secondary-color: #0e3251;
$border-color: #45b3dc;

$secondary-text-color: #fff;
$primary-text-color: #0e3251;


/*
  COLORS
*/

$secondary-font: 'Source Sans Pro', sans-serif;
$primary-font: 'Raleway', sans-serif;